<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 
      Calendario
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="paginaLogin">
  
  <ion-item>
    <ion-img class="logo" src="../../assets/images/bb.svg"></ion-img>
  </ion-item>

<ion-card class="ncard" *ngFor="let evento of eventi$ | async"  [routerLink]="['/tabs/carrello', evento.id]">
  <ion-img class="biglietto" src="../../assets/images/bb.svg"></ion-img>
    <p class="titolo"> {{evento.titolo}}  </p>
    <p class="data"> {{evento.dataEvento}}  </p>
    <p class="descrizioneee"> {{evento.descrizione}}  </p>
    <p class="descrizionee"> Orario di apertura : {{evento.orarioApertura}}  </p>
    <p class="descrizionee"> Posti disponibili : {{evento.postiDisponibili}}  </p>
    <p class="descrizionee"> Prezzo biglietto: €{{evento.prezzo}}  </p>

</ion-card>

</ion-content>






