<ion-header>
  <ion-toolbar>
    <ion-title>Pubblicazione annuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ncard">
    <ion-img class="profilo" src="../../assets/images/bb.svg"></ion-img>
      <p class="nome"> PUBBLICA ANNUNCIO</p>
      <p class="cognome"> RIVENDITA</p>
      <p class="email"> Account:</p>
      <p class="email2"> {{utente.email}}</p>
  </ion-card>

 


  <form [formGroup]="annuncioFormModel" class="list-form">
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="contact" item-start></ion-icon>{{ 'PREZZO EVENTO:' }}</ion-label>
      <ion-input color="secondary" type="email" formControlName="prezzo"></ion-input>
    </ion-item>
    <p ion-text class="text08" *ngIf="annuncioFormModel.get('prezzo').touched && annuncioFormModel.get('prezzo').invalid">
      <ion-text color="danger">{{ 'PREZZO_REQUIRED' }}</ion-text>
    </p>
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="contact" item-start></ion-icon>{{ 'CAUSA RIVENDITA:' }}</ion-label>
      <ion-input color="secondary" type="email" formControlName="causaRivendita"></ion-input>
    </ion-item>
    <p ion-text class="text08" *ngIf="annuncioFormModel.get('causaRivendita').touched && annuncioFormModel.get('causaRivendita').invalid">
      <ion-text color="danger">{{ 'CAUSA RIVENDITA_REQUIRED' }}</ion-text>
    </p>
    <div margin-top="20px">
      <ion-button [routerLink]="['/tabs/vendita-confermata']" class="buttonCambiaNominativo" icon-left size="medium" expand="full" shape="round" color="primary" (click)="vendi()" [disabled]="!annuncioFormModel.valid" tappable>
        {{ 'VENDI' }}
      </ion-button>
    </div>
  </form>





   <!-- <ion-card class="impo2" (click)="vendi()" [routerLink]="['/tabs/vendita-confermata']">
    <p class="desc"> vendi</p>
    <ion-img class="carrello" src="../../assets/images/sell.png"></ion-img>
  </ion-card> -->

</ion-content>
