.ciao{
    --ion-background-color: #121212;
}

.profilo{
    
    --ion-background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 15%;

}

.profilo2{
    
    --ion-background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;

}

.button{
  height: 85%;
  width: 100%;
  color: white;
}

.person{
    color: #3880ff; 
    font-size: 220%;
}

.style{
    font-size: 115%; 
    font-stretch: ultra-condensed; 
    font-weight: 600;
}