<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ITicket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ciao">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
 <ion-card class="profilo">
    <ion-item lines="none">
    <ion-icon name="person" class="person" slot="start"></ion-icon>
    <ion-button [routerLink]="['/login']" class="button" expand="block"> <p class="style"> Profilo Utente </p> </ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="profilo2">
    <ion-item lines="none">
    <ion-icon name="calendar" class="person" slot="start"></ion-icon>
    <ion-button [routerLink]="['/tab2']" class="button" expand="block"> <p class="style"> Calendario Eventi </p> </ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="profilo2">
    <ion-item lines="none">
    <ion-icon name="newspaper" class="person" slot="start"></ion-icon>
    <ion-button class="button" expand="block"> <p class="style"> Lista Notizie </p> </ion-button>
    </ion-item>
  </ion-card>


</ion-content>
