.profilo{
    
    --ion-background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 15%;

}

.button{
    height: 85%;
    width: 100%;
    color: white;
  }
  
  .person{
      color: #3880ff; 
      font-size: 220%;
  }