<ion-header>
  <ion-toolbar>
    <ion-title class="titolo">
      Registrati
    </ion-title>
    <ion-buttons slot="start">

      <ion-button disabled="true">

        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>

        </ion-button> 

      </ion-buttons>

    

      <ion-buttons slot="end">

      <ion-button disabled="true">

        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>

      </ion-button>      <!-- Inutile, solo per centrare l'ion-title "Recensioni" -->

      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="paginaLogin">
  <ion-item>
    <ion-img class="logo" src="../../assets/images/bb.svg"></ion-img>
  </ion-item>
  
  <ion-card class="inputLoginCard">
    <ion-input placeholder="Nome e Cognome" type="email"></ion-input>
  </ion-card>
  <ion-card class="inputLoginCard">
    <ion-input placeholder="Email" type="email"></ion-input>
  </ion-card>
  <ion-card class="inputLoginCard">
    <ion-input placeholder="Password" type="password"></ion-input>
  </ion-card>
  <ion-card class="inputLoginCard">
    <ion-input placeholder="Conferma Password" type="password"></ion-input>
  </ion-card>
  <ion-button class="button" expand="block"> Registrati </ion-button>
  <p class="link"> <a href ="/tabs/login">  Hai il tuo account ? Log-In  </a></p>
</ion-content>
