 <!--<ion-header>
  <ion-toolbar>
    <ion-title color="light" text-center>{{ 'LOGIN_TITLE' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
   <!--  <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>

    <!-- Login form -->
   <!--  <form [formGroup]="loginFormModel" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="contact" item-start></ion-icon>{{ 'USERNAME' }}</ion-label>
        <ion-input color="secondary" type="email" formControlName="username"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('username').touched && loginFormModel.get('username').invalid">
        <ion-text color="danger">{{ 'USERNAME_REQUIRED' }}</ion-text>
      </p>
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>{{ 'PASSWORD' }}</ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
        <ion-text color="danger">{{ 'PASSWORD_REQUIRED' }}</ion-text>
      </p>
      <div margin-top="20px">
        <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="onLogin()" [disabled]="!loginFormModel.valid" tappable>
          <ion-icon name="log-in"></ion-icon>
          {{ 'LOGIN_BUTTON'  }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>  -->



<ion-header>
  <ion-toolbar>
    <ion-title class="titolo">
      Login
    </ion-title>
    <ion-buttons slot="start">

      <ion-button disabled="true">

        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>

        </ion-button> 

      </ion-buttons>

    

      <ion-buttons slot="end">

      <ion-button disabled="true">

        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>

      </ion-button>      <!-- Inutile, solo per centrare l'ion-title "Recensioni" -->

      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="paginaLogin">
  <ion-item>
    <ion-img class="logo" src="../../assets/images/bb.svg"></ion-img>
  </ion-item>
  
 <!-- ion card messe dentro al FORM -->
  <form [formGroup]="loginFormModel" class="list-form">    
    <ion-card class="inputLoginCard">
      <ion-input placeholder="Email" type="email" formControlName="username"></ion-input>
    </ion-card>
    <ion-card class="inputLoginCard2">
      <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
    </ion-card>
    <ion-button class="button" expand="block" (click)="onLogin()" [disabled]="!loginFormModel.valid" tappable> Login </ion-button>
    <ion-button class="button" expand="block" (click)="logout()" > Logout </ion-button>
    <p class="link"> <a href ="/tabs/registrazione">  Crea il tuo account.  </a></p>
  </form>
</ion-content>


