.logo {
    position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height : 90%;
}

.logoCard {
    height : 25%;
}

.logoItem {
    display : block;
    height : 100%;
}