.ciao{
    --ion-background-color: #121212;
}
  
.card{
    --ion-background-color: white;
    margin-top: 5%;
}

.biglietto{
    --ion-background-color: white;
    margin-top: 5%;
    height: 43%;
}

.mail{
      color: #3880ff; 
      font-size: 240%;
      padding-left: 230px;
      position: absolute;
      margin-top: 25px;
  }

.call{
    color: #3880ff; 
    font-size: 240%;
    padding-left: 230px;
    position: absolute;
    margin-top: 25px;
}

.arrow{
    color: #3880ff; 
    font-size: 300%;
    padding-left: 210px;
    position: absolute;
    margin-bottom: 20px;
}

.title{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
    margin-bottom: auto;
  }

.iticket{
    color: black;
    padding-bottom: auto;
  }

.cambio{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
}

.logo{
    height : 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}