<ion-header>
  <ion-toolbar>
    <ion-title>Vendita confermata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="biglietto" [routerLink]="['/tabs/calendarioEventi']">
    <ion-card-header>
      <ion-img class="logo" src="../../assets/images/ticket.svg"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title class="cambio"> Il tuo annuncio di vendita è stato pubblicato all'interno del calendario degli eventi.  <br>  Ora vai a goderti gli spettacoli in programma!
      </ion-card-title>
      <ion-icon name="arrow-forward-circle" class="arrow"></ion-icon>
    </ion-card-content>
  </ion-card>


</ion-content>
