.cambio{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
    text-align : center;
}

.logo{
    height : 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.biglietto{
    --ion-background-color: white;
    margin-top: 5%;
    height: 60%;
}

.arrow{
    color: #3880ff; 
    font-size: 300%;
    //padding-left: 210px;
    margin-top : 3%;
    position: absolute;
    margin-left : 38%;
    margin-bottom: 20px;
}