<ion-header>
  <ion-toolbar>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/tabs/impostazioni']">
    <ion-img class="impostazioni" src="../../assets/images/setting.png"></ion-img>
  </ion-card>

  <ion-card class="ncard">
    <ion-img class="profilo" src="../../assets/images/man.png"></ion-img>
      <p class="nome"> {{utente.nome}}</p>
      <p class="cognome"> {{utente.cognome}}</p>
      <p class="email"> {{utente.email}}  </p>
  </ion-card>

  <ion-card class="impo" [routerLink]="['/tabs/carrello']">
    <p class="desc"> CARRELLO</p>
    <ion-img class="carrello" src="../../assets/images/carrello.png"></ion-img>
  </ion-card>


  <ion-card class="impo" [routerLink]="['/tabs/rivendita-biglietto']">
    <p class="desc"> RIVENDITA</p>
    <ion-img class="carrello" src="../../assets/images/sell.png"></ion-img>
  </ion-card>

  <ion-card class="impo" [routerLink]="['/tabs/assistenza']">
    <p class="desc"> ASSISTENZA</p>
    <ion-img class="carrello" src="../../assets/images/assistenza.png"></ion-img>
  </ion-card>

</ion-content>
