<ion-header>
  <ion-toolbar>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ncard">
    <ion-img class="profilo" src="../../assets/images/bb.svg"></ion-img>
      <p class="nome"> RIVENDI</p>
      <p class="cognome"> BIGLIETTO</p>
      <p class="email"> Account:</p>
      <p class="email2"> ginnamorati78@gmail.com</p>
  </ion-card>

  <ion-card class="impo">
    <p class="clausola"> PROCEDENDO CON LA RIVENDITA DEL BIGLIETTO PERDERAI IL TITOLO DI INGRESSO NEL CASO IN CUI IL BIGLIETTO VERRA' ACQUISTATO.</p>
  </ion-card>


  <ion-card class="impo">
    <ion-item>
      <ion-label>Evento</ion-label>
      <ion-select multiple="true" cancelText="Annulla" okText="Seleziona">
        <ion-select-option value="Fedez">Fedez</ion-select-option>
        <ion-select-option value="Lucio Dalla">Lucio Dalla</ion-select-option>
        <ion-select-option value="Achille Lauro">Achille Lauro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="impo">
    <p class="desc"> VENDI</p>
    <ion-img class="carrello" src="../../assets/images/sell.png"></ion-img>
  </ion-card>

</ion-content>
