<ion-header>
  <ion-toolbar>
    <ion-title>Rivendita biglietto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ncard">
    <ion-img class="profilo" src="../../assets/images/bb.svg"></ion-img>
      <p class="nome"> RIVENDI</p>
      <p class="cognome"> BIGLIETTO</p>
      <p class="email"> Account:</p>
      <p class="email2"> {{utente.email}}</p>
  </ion-card>

  <ion-card class="impo">
    <p class="clausola"> PROCEDENDO CON LA RIVENDITA DEL BIGLIETTO PERDERAI IL TITOLO DI INGRESSO NEL CASO IN CUI IL BIGLIETTO VERRA' ACQUISTATO.</p>
  </ion-card>


  <ion-card class="impo">
    <ion-item>
      <ion-label>Biglietto/i</ion-label>
      <ion-select [(ngModel)]="selectedOptions" multiple="true" cancelText="Annulla" okText="Seleziona" (ionChange)="printVal()">
        <ion-select-option *ngFor="let option of options; let i = index" [(value)]="option">{{nomiEventi[i]}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="impo" [routerLink]="['/tabs/pubblicazione-annuncio', selectedOptionsStringify]" routerDirection="forward" detail="true">
    <p class="desc"> VENDI</p>
    <ion-img class="carrello" src="../../assets/images/sell.png"></ion-img>
  </ion-card>

</ion-content>