.titolo {
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
}

.descrizione {
    display: block;
position: relative;
top: -15px;
font-size: small;
text-align: center;
padding-bottom: 3%;
padding-top: 2px;
 }

.data{
    position: relative;
    top:-13px;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    color: burlywood;

     }

.paginaLogin {
    --ion-background-color: #121212;
}

.ncard{
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ffffff;
}


.logo {
 height : 28%;
 margin-top : 6%;
 display: block;
 width: 30%;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 8%;
}
