<ion-header>
  <ion-toolbar>
    <ion-title class="titolo">
      Notizie
    </ion-title>
    <ion-buttons slot="start">

      <ion-button disabled="true">

        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>

        </ion-button> 

      </ion-buttons>

    

      <ion-buttons slot="end">

      <ion-button disabled="true">

        <ion-icon name="add-outline" size="large" slot="icon-only" style="color: rgba(42, 56, 211, 0);"></ion-icon>

      </ion-button>      <!-- Inutile, solo per centrare l'ion-title "Recensioni" -->

      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="paginaLogin">
  <ion-item>
    <ion-img class="logo" src="../../assets/images/bb.svg"></ion-img>
  </ion-item>
  
  <ion-card class="ncard">
    <p class="titolo"> FEDEZ - ROMA  </p>
    <p class="data"> 23-05-2021  </p>
    <p class="descrizione"> Giggino a lavoro nonci crede neanche lui. Giggino a lavoro nonci crede neanche lui.Giggino a lavoro nonci crede neanche lui.</p>
  </ion-card>
  
  <ion-card class="ncard">
    <p class="titolo"> FEDEZ - ROMA  </p>
    <p class="data"> 23-05-2021  </p>
    <p class="descrizione"> Giggino a lavoro nonci crede neanche lui. Giggino a lavoro nonci crede neanche lui.Giggino a lavoro nonci crede neanche lui.</p>
  </ion-card>

  <ion-card class="ncard">
    <p class="titolo"> FEDEZ - ROMA  </p>
    <p class="data"> 23-05-2021  </p>
    <p class="descrizione"> Giggino a lavoro nonci crede neanche lui. Giggino a lavoro nonci crede neanche lui.Giggino a lavoro nonci crede neanche lui.</p>
  </ion-card>

  <ion-card class="ncard">
    <p class="titolo"> FEDEZ - ROMA  </p>
    <p class="data"> 23-05-2021  </p>
    <p class="descrizione"> Giggino a lavoro nonci crede neanche lui. Giggino a lavoro nonci crede neanche lui.Giggino a lavoro nonci crede neanche lui.</p>
  </ion-card>

  <ion-card class="ncard">
    <p class="titolo"> FEDEZ - ROMA  </p>
    <p class="data"> 23-05-2021  </p>
    <p class="descrizione"> Giggino a lavoro nonci crede neanche lui. Giggino a lavoro nonci crede neanche lui.Giggino a lavoro nonci crede neanche lui.</p>
  </ion-card>

</ion-content>

